
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Uploaded Images</title> 
  
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
</head> 
<body> 
  
    {% for image in all_images %} 
            <div class="col-md-4"> 
                     <img src="{{ image.input_Image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> 
                        <textarea rows="9" cols="50">
                            {{ image.image_Text }} 
                            </textarea>
             </div> 
    {% endfor %} 
  
</body> 
</html> 
